.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flash-image {
  animation: flash 2s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
